<body>
<div class="container">
   <div class="row">
        
        <div >
             <div class="sidenav"  id="mySidenav">
                  <a  id="add" routerLink="/addProjet" data-toggle="tooltip" data-placement="bottom" title="Add project">
                       add
                  </a>
                
             </div>
             
              
        </div>

        <div class="col-10 align-self-center" >
        <h2 id="titre" class="align-self-center"> Projects</h2>
        <nav class="navbar">
        <input class="form-control" type="text" name="REFName" [(ngModel)]="REFName" (ngModelChange)="Search()" placeholder="Search for refrence">
        </nav>
        <table class="table table-light table-striped table-hover">
             
             <thead>
                  <tr>
                    
                    <th scope="col">Project ID </th>
                    <th scope="col">Project Name</th>
                    <th scope="col">REFName</th>
                    
                  </tr>
             </thead>
             <tbody class="projets">
                  <tr *ngFor="let stg of projets">
                       <td><a id="nom" routerLink="/detailformateur/{{stg.projectId}}">{{stg.projectId}} </a></td>
                       <td> {{stg.projectName}}</td>
                       <td> {{stg.REFName}}</td>
                       <td> <button type="button" class="btn btn-primary" routerLink='/editProjet/{{stg.projectId}}'> Edit</button></td>
                       <td><button type="button" class="btn btn-danger"  (click)="delete(stg)">Delete</button></td>
                    <td><button type="button" class="btn btn-secondary" routerLink='/projet-validation' >Add Project Validation</button></td>
                     </tr> 
             </tbody>
        </table>

</div>
</div>
</div>
</body>