<body>
<div class="container">
    <div class="row">
         
         <div >
              <div class="sidenav"  id="mySidenav">
                   <a  id="add" routerLink="/addMethodiste" data-toggle="tooltip" data-placement="bottom" title="Add Methodist">
                        add
                   </a>
                 
              </div>
              
               
         </div>
         <div class="col-10 align-self-center" >
         <h2 id="titre" class="align-self-center">Methodistes</h2>
          <nav class="navbar">
        <input class="form-control" type="text" name="email" [(ngModel)]="email" (ngModelChange)="Search()" placeholder="enter email">
        </nav>
         <table class="table table-light table-striped table-hover">
              
              <thead>
                   <tr>
                     
                     <th scope="col"> Methodiste Id </th>
                     <th scope="col">E-mail</th>
                     <th scope="col">Password</th>
                     
                   </tr>
              </thead>
              <tbody class="projets">
                   <tr *ngFor="let stg of methodistes">
                        <td><a id="nom" routerLink="/detailformateur/{{stg.Id}}">{{stg.Id}} </a></td>
                        <td> {{stg.email}}</td>
                        <td> {{stg.password}}</td>
                        <td> <button type="button" class="btn btn-primary" routerLink='/editMethodiste/{{stg.Id}}'> Edit</button></td>
                        <td><button type="button" class="btn btn-danger"  (click)="delete(stg)">Delete</button></td>
                     
                      </tr> 
              </tbody>
         </table>
         </div>
 
         
    </div>
 </div>
 </body>